html, body {
    height: 100%;
    font-family: 'SF UI Text', 'San Francisco Text', Roboto, -apple-system, sans-serif;
  }
  
  #chat {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
  }
  
  #messages {
    background: #eee;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    align-items: flex-start;
    padding: 20px;
  }
  
  .message {
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 16px;
    max-width: 70%;
  }
  
  .ours {
    background: #0076FF;
    align-self: flex-end;
    color: white;
  }
  
  .theirs {
    background: gray;
    color: white;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
    margin: 10px;
  }
  